<form method="post" action="{{ path('course_pay', {'id': course.id}) }}" onsubmit="return confirm('Вы уверены, что хотите купить курс?');">
    <button class="btn btn-outline-danger">Delete</button>
</form>