{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5">
        <h1>Курсы</h1>
        <div class="row g-3 mb-3">
            {% for course in courses %}
                <div class="col-sm-6">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <a href="{{ path('course_show', {'id': course.id}) }}" class="btn btn-outline-primary">Учить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('course_new') }}" class="btn btn-outline-primary">Создать курс</a>
    </main>
{% endblock %}
