{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5">
        {% for flashError in app.flashes('verify_code_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Создать новый курс</h1>

        {{ include('course/_form.html.twig') }}

    </main>
{% endblock %}
