{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% block stylesheets %}{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="error">
        <div class="error">
            <div class="error-page">
                <h1>500</h1>
                <h2>Unexpected error</h2>
            </div>
            <a href="{{ path('course_index') }}">Homepage</a>
        </div>
    </div>
{% endblock %}